
:root{
    --primery-color--:#00365F;
}

html{
    height: 100%;
}
body{
    background: linear-gradient(180deg, #CEADCB 0%, rgba(0, 54, 95, 0.747396) 50.52%, rgba(0, 155, 158, 0.5) 100%);
    background-repeat: no-repeat;

}
.Wrapper{
    display: flex;
    justify-content: space-between;
    
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    margin-top: 35px;
}
.navigation li {
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    padding: 15px;
    color: var(--primery-color--);
    font-weight: bolder;
    font-size: 25px;
}


h2 {
	font-size: 1.5em;
	color: #666;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 0.3em;
	color: #666;
	margin-bottom: 0.3em;
}
h4 {
	font-size: 0.2em;
	color: #666;
	margin-bottom: 0.2em;
}

p {
	font-size: 0.8em;
	color: #444;
	margin-bottom: 0.5em;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	margin-bottom: 0.5em;
}

a {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
.container{
    padding:15px 9%;
    padding-bottom: 60px;
    margin-top: 3.5%;
}
.container_about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
  height: 200px;
	text-align: center;
}

.column1 {
  padding-right: 20px;
}

.column2 {
  padding-left: 20px;
}

.column3 {
  padding-left: 20px;
}

.container_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-column-gap: 40px; 
  background-color: rgba(255, 255, 255, 0.0%);
  padding: 20px;
  position: fixed;
  bottom: 50%;
  left: 40%;
  transform: translate(-50%, -200%);
  height: 15%;
}

.custom_column {
  margin-right: 20%;
  transform: translate(57%,0%);
  width: 600px; 
  backdrop-filter: blur(20px);
  margin-left: 40%;
  
}
.custom_column p {
  text-align: center;
  font-size: 18px;
  color: #1d1d1d;
}
.custom_column h5 {
  margin-top: 15px;
  margin-bottom: 5%; 
  font-size: 25px;
}
.custom_column h2 {
  margin-bottom: 10px; 
  color: #00365F;
}
.custom_column1{
  background-color: #f7f7f7;

}
.grid_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    height: 400px;
    transform: translate(0px,70px);
  }
  
  .grid_col img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 30%;
    margin-bottom: 20px;

  }
  
  .grid_col h4 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .grid_col p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
  