{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>About</title>
</head>

<body>
    <header>
        <nav class="containers">
            <div class="Wrapper">
                <div class="logo">
                    <a href="" class="logo_img"><img src="../static/images/logo (2).png" alt="logo"></a>
                </div>
                <ul class="navigation">
                    <a href="">
                        <li>Home</li>
                    </a>
                    <a href="">
                        <li>About</li>
                    </a>
                    <a href="">
                        <li>Contact</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container_about">
        <div class="column1">
          <h3>Project by : </h3>
          <h4>Yassir Cheikh and Mohammed Amine Jari</h4>
          <h3>Supervised by :</h3>
          <h4> Mr. Hossni and Mr. Amri</h4>
        </div>
        <div class="column2">
          <h3>Our School:</h3>
            <a href="http://www.ensam-umi.ac.ma/">ENSAM</a>
          <h3>LinkedIn Profiles:</h3>
          <ul>
            <li> <a href="https://www.linkedin.com/in/YassirCheikh"><img class="logo" src="../static/images/LinkedIn_logo_initials.png">YassirCheikh</a></li>
            <li> <a href="https://www.linkedin.com/in/MohammedAmineJari"><img class="logo" src="../static/images/LinkedIn_logo_initials.png">MohammedAmineJari</a></li>
          </ul>          
        </div>
        <div class="column3">
            <h3>Contact Us:</h3>
            <ul>
              <li><img class="logo" src="../static/images/Phone_icon.png">Yassir Cheikh:<a href="tel:XXX-XXX-XXXX">XXX-XXX-XXXX</a></li>
              <li><img class="logo" src="../static/images/Phone_icon.png">Mohammed Amine Jari: <a href="tel:XXX-XXX-XXXX">XXX-XXX-XXXX</a></li>
            </ul>
        </div>
    </div>
    <div class="container_grid">
        <div class="grid_col column1 custom_column1">
            <img src="../static/images/yassir_photo_cv_1_200x230.jpg">
            <h4>Yassir Cheikh</h4>
            <p>University: ENSAM</p>
            <p>Branch: GIIA</p>
            <p>Age: 22</p>
            <p>University Year: 4th</p>
        </div>
        <div class="grid_col column2 custom_column1">
            <img src="../static/images/telechargement_200x230.png">
            <h4>Mohammed Amine Jari</h4>
            <p>University: ENSAM</p>
            <p>Branch: GIIA</p>
            <p>Age: 21</p>
            <p>University Year: 4th</p>
        </div>
        <div class="grid_col column3 custom_column">
            <h2>HEALTHCARE 
                AND IA</h2>

            <h5>Description :


            </h5>
            <p>Accessing to the advanced medical information is time consuming. 
                A doctor can spend several hours seeking for a specific information about a given disease. 
                However, the search engine of the online scientific libraries such as Scopus, PubMed do not provide such assistance. 
                This project aims at connecting to such online databases and provide the doctor with desired information with synthetic manner.
                 Moreover, it can be provide a pertinence score for each scientific paper.</p>

        </div>
    </div>
    
      
</body>
</html>
