{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://kit.fontawesome.com/fd87d8fefa.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="containers">
            <div class="Wrapper">
                <div class="logo">
                    <a href="" class="logo_img"><img src="../static/images/logo (2).png" alt="logo"></a>
                </div>
                <ul class="navigation">
                    <a href="">
                        <li>Home</li>
                    </a>
                    <a href="about">
                        <li>About</li>
                    </a>
                    <a href="">
                        <li>Contact</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>
    <div class="title">DocSearchX</div>
    <div class="button">
        <a href="upload"><button class="btn">
            <div class="textbtn">Get Started

            </div>
        </button>
        </a>
    </div>
    <div class="container">
        <div class="box-container">
            <div class="box">
                <i class="fa-solid fa-cloud-arrow-up" id="icon"></i>
                <h3>Upload</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                <i class="fa-solid fa-1" style="font-size:30px; font-weight: bolder;margin-top: 1%;"></i>

            </div>
            <div class="box">
                <i class="fa-solid fa-circle-nodes" id="icon" ></i>
                <h3>Clusters</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                <i class="fa-solid fa-2" style="font-size:30px; font-weight: bolder;margin-top: 1%;"></i>

            </div>
            <div class="box">
                <a href="search/">
                <i class="fa-solid fa-magnifying-glass" id="icon" ></i>
                <h3>Search</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                <i class="fa-solid fa-3" style="font-size:30px; font-weight: bolder;margin-top: 1%;"></i>
                </a>
                

            </div>
            <div class="box">
                <i class="fa-solid fa-square-poll-vertical" id="icon"  ></i>
                <h3>Results</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                <i class="fa-solid fa-4" style="font-size:30px; font-weight: bolder;margin-top: 1%;"></i>

            </div>
        </div>
    </div>



</body>



</html>